<!DOCTYPE html>
<html>
<head>
  <title>FlatDash</title>

  <!-- <META http-equiv="refresh" content="30;URL=commits"> -->

  <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">  

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

  <%= audio_tag('solari.mp3', id: 'solari-audio') %> 

</head>
<body>
 <script>
    $(document).ready(function() {
      URL = "/solari_pull_day.json";
      REFRESH_TIME = 15;
      PREV_BUTTON = "/week"
      NEXT_BUTTON = "/commits"
      addSolariBoard(".solari");
    });
  </script>
  <div class="solari">
  </div>

</body>
</html>